
.navbar-profile-pic img{
    border-radius: 90px;
    height: 130px;
    width: 120px;
    display: flex;
    margin:auto;
    vertical-align: middle;
    margin-top:auto;
}
.nav-item{
    
    color: white;
    margin-top:40px;
    margin-left: 20px;
}
.nav-link{
    margin-top: 20px;
    cursor: pointer;
}
.nav-link svg{
    margin-right: 10px;
}
.nav-link:hover{
    color: #f29f67;
}
.nav-link .active{
    color: #f29f67;
    border-left: 5px solid #f29f67;
    padding-left: 10px;
    text-decoration: none;
}
/* .navbar-profile-pic {
    width: fit-content;
    max-width: fit-content;
    text-align: center;
    overflow: auto;
  } */
  
  .profile-img {
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
  }