.work{
    background-color: #1387812a;
    margin-left: 130px;
    padding: 60px 0px;
}
.work-exp{
    padding: 60px 0px;

}
.work-exp h2{
    color: #1e1e2c;
    font-weight: bold;
    margin: 10px auto;
}
.work-exp .vertical-timeline-element-title{
    color: #138781;
}
.work-exp .vertical-timeline-element-subtitle{
    color: #1e1e2c78;
}

/*============*/
@media (max-width:600px){
    .work{
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }
    .work hr{
        width: 280px;
    }
}